.husky
.vscode
.turbo
scripts/
node_modules
.eslintignore
.eslintrc.js
.gitignore
.prettierignore
.prettierrc
.jest.config.js
tsconfig.json
.env 
.npmrc
packages/*/test/*
packages/*/node_modules/*
packages/*/coverage/*
packages/*/.turbo/*
